{% extends "../user_base/base_with_header.html" %}

{% load static %}

{% block title %}회원가입 | JWSTAGRAM{% endblock title %}

{% block content %}
    <div id="main_container">
        <div class="form_container">
            <div class="form">
                <div class="title_cover">
                    <a href="#">
                        <h1 class="sprite_insta_big_logo title"></h1>
                    </a>
                </div>
                <div class="sign_up_text">
                    친구들의 사진과 동영상을 보려면 가입하세요. 
                </div>
                <form class="form-area" method="post" action="/signup/">
                    {% csrf_token %}                 
                    <div class="form-group mt-2 mb-2">
                        <input type="text" class="form-control" id="username" name="username" placeholder="사용자 이름">
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <input type="password" class="form-control" id="password2" name="password2" placeholder="비밀번호 확인">
                    </div>
                    <div class="form-group mt-2 mb-2">
                        <input type="text" class="form-control" id="bio" name="bio" placeholder="자기소개">
                    </div>
                    <p>
                    {% if error %}
                     <div class="alert alert-danger" role="arlert"> 
                        {{ error }}
                     </div>
                    {% endif %}
                    </p>
                    <input type="submit" id="submit_btn" value="가입" class="submit_btn">
                </form>
            </div>
            <div class="bottom_box">
                <div>
                    <span>계정이 있으신가요?</span>
                    <a class="sign_user_btn_color" href="{% url 'user:signin' %}" >로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}